{{>headers}}
  <body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="card-group d-block d-md-flex row">
                <div class="card col-md-7 p-4 mb-0">
                  <form action="" method="post">
                    <div class="card-body">
                      <h1>Login</h1>
                      <p class="text-medium-emphasis">Sign In to your account</p>
                      <div class="input-group mb-3"><span class="">
                        <input class="form-control" type="text" placeholder="Username" name="username">
                      </div>
                      <div class="input-group mb-4"><span class="">
                        <input class="form-control" type="password" placeholder="Password" name="password">
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <input class="btn btn-primary px-4" type="submit" value="sign up">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{{>footer}}
